[submodule "public"]
	path = public
	url = git@github.com:shenglig/shenglig.github.io.git
	branch = master
[submodule "themes/hugo-cards"]
	path = themes/hugo-cards
	url = git@github.com:shenglig/hugo-cards.git
